<h2><%= @passenger.name %>'s Homepage</h2>

<section id="flights">
  <% @passenger.flights.each do |flight| %>
    <p><%= link_to flight.number , "/flights/#{flight.id}"%></p>
  <% end %>
</section>

<section id="add-flight">
  <%= button_to 'Add Flight', "/passengers/#{@passenger.id}/flights/new", method: :get %>
</section>
